.carousel-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    display: flex;
    align-items: center; /* Centraliza as imagens verticalmente */
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 60%; /* Largura para acomodar as imagens adjacentes */
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s;
    margin: 0 2%;
    opacity: 0.5;
}

.carousel-slide.active {
    transform: scale(1);
    opacity: 1;
    z-index: 1; /* Garante que o slide atual fique acima dos adjacentes */
}

.carousel-slide.prev,
.carousel-slide.next {
    transform: scale(0.85); /* Reduz as imagens adjacentes */
    opacity: 0.75;
    z-index: 0; /* Mantém o slide atual acima */
}

.carousel-slide img {
    max-height: 300px; /* Ajuste conforme necessário */
    object-fit: cover;
    width: 100%;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#slide-counter {
    margin: 0 15px;
    font-size: 18px;
    color: #333;
}

.btnCarrossel {
    padding: 10px;
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    color: #555;
}

