@media (max-width: 1200px) {

    /* ----------------- header -------------- */
    .nav-linksHeader {
        display: none;
    }

    /* ---------------- menuBurger????? ---------------- */
    .menu-toggle {
        display: flex;
    }

    .mobile-menu.active {
        display: flex;
    }
}

@media (max-width: 1060px) {

    /* ------------------ calendar --------------------- */
    .calendarContainer {
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: center;

    }

    .calendarBox {
        margin: 0;
        margin-bottom: 25px;
    }

    .linhasSVG-vertical {
        height: 1000px;
    }


}

@media (max-width: 900px) {

    #location {
        flex-direction: column-reverse;
    }

    #locationInfo {
        width: 100%;

    }

    .video-wrapper {
        width: 100%;
        padding-bottom: 60%;
    }
}


/* .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    background-color: #000;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.mobile-menu a {
    display: block;
} */