@media (max-width: 1200px) {

    /* ----------------- header -------------- */
    .nav-linksHeader {
        display: none;
    }

    /* ---------------- menuBurger????? ---------------- */
    .menu-toggle {
        display: flex;
    }

    .mobile-menu.active {
        display: flex;
    }
}


/* .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    background-color: #000;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.mobile-menu a {
    display: block;
} */