body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    margin-bottom: 20%;
}

canvas#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    pointer-events: none; /* Impede que o canvas bloqueie interações */
}


.background {
    position: absolute;
    width: 100%;
    height: 100%;
}

:root {
    --corVermelhaTxt: #FB0F0F;
    --corBrancaTxt: #fff;
    --corVermelhaEscura: #990000;
    --corBgCards: #1d1d1d;
}

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red {
    color: var(--corVermelhaTxt);
}

.marginPagina {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0% 10%;
    z-index: 1;
}

/*  Header   */
.header {
    width: 80%;
    margin: 0% 10%;
    height: 90px;
    z-index: 2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.75);
    position: fixed; 
    top: 5%;
    backdrop-filter: blur(10px); 
    justify-content: space-between;
}

.icon {
    width: 24px;
}

.iconInvert{
    width: 2rem;
    height: 2rem;
}
    

#btnSaibaMais {
    background-color: #fff;
    border: none;
    align-items: center;
    justify-content: center;
    transition: 200ms ease-in-out;  
}
#txtSaibaMais {
    color: #000;
    font-size: 20px;
    transition: 200ms ease-in-out; 
}
#btnSaibaMais:hover {
    background-color: #ff0000;
}
#btnSaibaMais:hover #txtSaibaMais {
    color: #fff;
}

.iconSaibaMais {
    background-image: url("../images/icons/iconSaibaMaisBefore.png");
    width: 40px;
    height: 40px;
    background-position: center;
    transition: 200ms ease-in-out; 
}
#btnSaibaMais:hover .iconSaibaMais {
    background-image: url("../images/icons/iconSaibaMaisAfter.png");
}

.mes{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}


.txtBtn {
    margin: 10px;
    margin-left: 10px;
    font-size: 1.25rem
}

.btn {
    display: flex;
    background: none;
    border: var(--corBrancaTxt) 2px solid;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 0px 1%;
    width: 18.125rem;
    height: 3.75rem;
    transition: 400ms;
    color: var(--corBrancaTxt);
    margin-top: 25px;
    transition: 200ms ease-in-out; 
}
.btnShare {
    display: flex;
    background: none;
    border: var(--corBrancaTxt) 2px solid;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 0px 1%;
    width: 18.125rem;
    height: 3.75rem;
    transition: 400ms;
    color: var(--corBrancaTxt);
    margin-top: 25px;
    transition: 0.3s ease-in-out; 
}

.btnShare:hover{
    border-color: #FB0F0F;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.btn:hover .txtBtn{
    color: #000;
}

.btn:hover .iconInvert {
    filter: invert(1); 
    transition: 0.3s ease-in-out; 
}


.btnShare, .tituloHeader {
    margin: 0px 30px;
}

.nav-links {
    display: flex;
    justify-content: space-around; /* Centraliza os links */
     /* Ajusta para ocupar mais espaço */
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0% 30px; /* Espaço entre os links */
    position: relative;
    transition: ease-in-out 0.2s;
}
.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #ff0000;
    transition: width 0.4s ease-in-out;
}

.nav-links a:hover::after {
    width: 100%;
}


/*  O ULTIMO PROJETO   */

.landingTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.principal {
    color: white;
    font-family: 'orbitron';
    font-size:4.5rem;
    margin: 0;
    margin-top: 80px;
}

.subtitulo{
    z-index: 1;
    font-size: 1.3rem;
    color: white;
    font-family: 'poppins';
}

.poppinsBold{
    font-size: 2.96656rem;
}

/* ----------------------------- calendario eventos ----------------------------- */
.titleSVG-align {
    display: flex;
    height: 100px;
    align-items: center;
}

.calendarContainer {
    display: flex;
    flex-direction: row;
    margin: 0px 10%;
    justify-content: space-between;
}

.data{
    font-size: 11.25rem;
    font-family: 'poppins';
    margin: -50px 0;
}

.classe{
    font-size: 1.8435rem;
}

.dezembro{
    font-size: 1.25rem;
}

.calendarBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: var(--corBgCards);
    width: 26.8125rem;
    height: 27.0625rem;
    aspect-ratio: 1 / 1;
    
    min-width: 200px;
    padding: 20px;
}
.calendarBoxLeft {
    margin-right: 30px;
}
.calendarBoxRight {
    margin-left: 30px;
}

.linhasSVG {
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 2px;
}
.linhaCaixa {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none; /* Evita interferência no conteúdo */
}


.boxSalaCalendar {
    width: 80%;
}
.calendarTitle {
    /* esta também linkado com .principal por eficiencia */
    margin: 0;
    font-size:6em;
    font-family: "poppins";
}



/*----------------------------- localização ----------------------------- */
#location {
    display: flex;
    flex-direction: row;
}

#locationInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 2px solid var(--corVermelhaTxt);
    padding: 3em;


    height: 500px;
}

#locationMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--corVermelhaTxt);
    padding: 2em;
    width: 100%;
}

#map {
    display: flex;
    border: 2px solid var(--corVermelhaTxt);

    width: 100%;
    height: 100%;
}

/* gradiente titulos */
.word {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #e05050 0%,
        #ff0000 29%,
        #841515 67%,
        #ff0000 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff; 
    display: inline-block;
    animation: textclip 2s linear infinite;
}
@keyframes textclip {
    to {
        background-position: -200% center;
    }
}

/* Estilos da barra de rolagem (scrollbar) */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #230000; /* Fundo preto com muita transparência */
}

::-webkit-scrollbar-thumb {
    background-color: #ff0000; /* Barrinha vermelha */
    border-radius: 5px; /* Arredonda os cantos da barrinha */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #585858; /* Barrinha vermelha mais escura ao passar o mouse */
}


#marginLateralPagina {
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px; /* Limita a largura máxima */
    width: 100%; /* Garante que ocupe 100% da largura disponível */
}

.tituloInfo{
    font-size: 1.99231rem;
    font-family: 'poppinsLight';
}
