body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 150px;
    margin-bottom: 20%;
}


canvas#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    /* Impede que o canvas bloqueie interações */
}


.background {
    position: absolute;
    width: 100%;
    height: 100%;
}

:root {
    --corVermelhaTxt: #FB0F0F;
    --corBrancaTxt: #fff;
    --corVermelhaEscura: #990000;
    --corBgCards: #1d1d1d;
    --corBgCardsLighter: #303030;
}

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red {
    color: var(--corVermelhaTxt);
}

.marginPagina {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0% 10%;
    z-index: 1;
}

/*  Header   */
.header {
    width: 80%;
    margin: 0% 10%;
    height: 90px;
    z-index: 2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.75);
    position: fixed;
    top: 5%;
    backdrop-filter: blur(10px);
    justify-content: space-between;
}

.icon {
    width: 24px;
}

/* .iconShare{
    height: 2rem;
    width: 2rem;
} */

.iconInvert {
    width: 2rem;
    height: 2rem;
}


#btnSaibaMais {
    background-color: #fff;
    border: none;
    align-items: center;
    justify-content: center;
    transition: 200ms ease-in-out;
}

#txtSaibaMais {
    color: #000;
    transition: 200ms ease-in-out;
}

#btnSaibaMais:hover {
    background-color: #ff0000;
}

#btnSaibaMais:hover #txtSaibaMais {
    color: #fff;
}

.iconSaibaMais {
    background-image: url("../images/icons/iconSaibaMaisBefore.png");
    width: 40px;
    height: 40px;
    background-position: center;
    transition: 200ms ease-in-out;
}

#btnSaibaMais:hover .iconSaibaMais {
    background-image: url("../images/icons/iconSaibaMaisAfter.png");
}

.mes {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}


.txtBtn {
    margin: 10px;
    margin-left: 10px;
    font-size: 1.25rem
}

.btn {
    display: flex;
    background: none;
    border: var(--corBrancaTxt) 2px solid;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 0px 1%;
    width: 18.125rem;
    height: 3.75rem;
    transition: 400ms;
    color: var(--corBrancaTxt);
    margin-top: 25px;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.btnShare {
    display: flex;
    background: none;
    border: var(--corBrancaTxt) 2px solid;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 0px 1%;
    height: 3.0625rem;
    transition: 400ms;
    color: var(--corBrancaTxt);
    margin-top: 25px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btnShare:hover {
    border-color: #FB0F0F;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.btn:hover .txtBtn {
    color: #000;
}

.btn:hover .iconInvert {
    filter: invert(1);
    transition: 0.3s ease-in-out;
}


.btnShare,
.tituloHeader {
    margin: 0% 3%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    /* Centraliza os links */
    /* Ajusta para ocupar mais espaço */
}

.nav-links a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: ease-in-out 0.2s;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #ff0000;
    transition: width 0.4s ease-in-out;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-linksHeader a {
    margin: 0 4%;
    /* Espaço entre os links */
}


/*  O ULTIMO PROJETO   */

.landingTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.principal {
    color: white;
    font-family: 'orbitron';
    font-size: 4.5rem;
    margin: 0;
    margin-top: 80px;
}

.subtitulo {
    z-index: 1;
    font-size: 1.3rem;
    color: white;
    font-family: 'poppins';
    flex-wrap: wrap;
    max-width: 650px;
}

.poppinsBold {
    font-size: 2.96656rem;
    margin-top: -50px;
}

/* ------------------ video ------------------- */
.video-wrapper {
    position: relative;
    width: 80%;
    /* Largura ajustada para 80% da tela */
    padding-bottom: 45%;
    /* Proporção 16:9 ajustada com base na largura de 80% */
    height: 0;
    margin: 0 auto;
    /* Centraliza o vídeo na página */
    margin-bottom: 20%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* ----------------------------- calendario eventos ----------------------------- */
.titleSVG-align {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.calendarContainer {
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    justify-content: space-between;
}
.dataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data {
    font-size: 11.25rem;
    font-family: 'poppins';
    margin: -50px 0;
}

.classe {
    font-size: 1.8435rem;
}

.dezembro {
    font-size: 1.25rem;
}

.calendarBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: var(--corBgCards);
    width: 27rem;
    aspect-ratio: 1 / 1;

    padding: 20px;
    box-sizing: border-box;
}

.calendarBoxLeft {
    margin-right: 5%;
}

.calendarBoxRight {
    margin-left: 5%;
}

.calendarRowPosition {
    display: flex;
    flex-direction: row;
}

.linhasSVG {
    display: block;
    margin: 0;
    padding: 0;
}

.linhasSVG-horizontal {
    height: 1px;
}


.boxSalaCalendar {
    width: 80%;
}

.calendarTitle {
    /* esta também linkado com .principal por eficiencia */
    margin: 0;
    font-size: 6em;
    font-family: "poppins";
}

.calendarMainContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
}

.calendarDaysSVG-alignment {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

/* ------------------------------ professores ---------------------------------------- */
.professoresContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    width: 100%;
}

.professor {
    display: flex;
    background-color: var(--corBgCards);
    width: 30%;
    margin: 1%;
    position: relative;
    justify-content: center;
}

.infoBox-professor {
    display: flex;
    position: absolute;
    background-color: var(--corBgCardsLighter);
    justify-content: center;
    align-items: center;
    width: 75%;
    bottom: -10%;
    padding: 10% 0;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.infos-professor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 100%;
    border: var(--corVermelhaTxt) 2px solid;
    border-left: none;
    border-right: none;
    text-align: center;
}

.imgProfessor {
    width: 100%;
    pointer-events: none;
}


/*----------------------------- localização ----------------------------- */
#location {
    display: flex;
    flex-direction: row;
}

#locationInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 2px solid var(--corVermelhaTxt);
    padding: 2em;
    box-sizing: border-box;
}

#locationMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--corVermelhaTxt);
    padding: 2em;
    width: 100%;
    height: 35rem;
    box-sizing: border-box;
    /* border-box faz com que a largura total n seja afetada por padding */
}

#map {
    display: flex;
    border: 2px solid var(--corVermelhaTxt);

    width: 100%;
    height: 100%;
}

/* gradiente titulos */
.word {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #e05050 0%,
            #ff0000 29%,
            #841515 67%,
            #ff0000 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    display: inline-block;
    animation: textclip 2s linear infinite;
}

@keyframes textclip {
    to {
        background-position: -200% center;
    }
}

/* Estilos da barra de rolagem (scrollbar) */
::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #230000;
    /* Fundo preto com muita transparência */
}

::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    /* Barrinha vermelha */
    border-radius: 5px;
    /* Arredonda os cantos da barrinha */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #585858;
    /* Barrinha vermelha mais escura ao passar o mouse */
}


#marginLateralPagina {
    margin: 0 auto;
    /* Centraliza horizontalmente */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    /* Limita a largura máxima */
    width: 100%;
    /* Garante que ocupe 100% da largura disponível */
}

.tituloInfo {
    font-size: 1.99231rem;
    font-family: 'poppinsLight';
    margin-top: 50px;
}


/* ----------------------------- footer ---------------------------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--corVermelhaTxt);
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 5% 0;
    z-index: 1;
}

.divisionLine {
    width: 80%;
    height: 1px;
    margin: 15px;
    background-image: linear-gradient(to right, #3f3f3f, #fff, #3f3f3f);
}

.footerSection {
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
}

.nav-footer {
    margin-left: 100px;
}

.footerLinks {
    flex-direction: column;
    margin-top: 15px;
}

.footerLinks a {
    margin: 10px 0;
}

.txtFooterMarginTop {
    margin: 40px 0 20px 0;
    width: 50%;
}

.socialIcon {
    text-decoration: none;
    margin: 0 20px;
}